{% extends 'base.html' %} {% load bootstrap4 %} 
{% block content %}

{{block.super}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <legend>
                        <h2>Create Account</h2>
                    </legend>
                </div>
                <div class="card-text:center">
                    <form method="post" style="margin-right:20px;">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <hr>
                        <button type="submit">Sign up</button>

                        <button><a href="/accounts/login/" style="text-decoration:none;">login</a></button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}