{%extends 'registration/base.html'%}
{%load bootstrap4 %}
{%block content%}
<div class="container" style="padding-bottom:20px">

	<div class="col-md-7">

		<div class="panel panel-default">
			<div class="panel-heading">
				<legend>
					<h4 class="text-center"> Create Neighbourhood</h4>
				</legend>
			</div>
			<div class="panel-body">
				<form action="{% url 'createHood' %}" method="post">

					{%csrf_token%}
					{% bootstrap_form form %}
					<button type="submit" class="btn btn-success">Create!</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>

</div>

{%endblock%}