{%extends 'registration/base.html'%}
{% load bootstrap4 %}
{% block content%}

<div class="container">
	<div class="row">
		<div class="div col-md-4">

			<h3>Search results for: <strong>{{message}}</strong> has been found</h3>

			{%if hoods%}
			{% for hood in hoods %}
			<div class="card">

				<div class="card-title">
					<h2>{{hood.name}}</h2>
				</div>
				<div class="card-body">
					<p>{{hood.loc}}</p>

				</div>

			</div>

			{%endfor%}
			{% else %}
			<div class="col-md-6">
				<h4 class="text-center">No neighbourhood with the name <strong>{{message}}</strong> exists! You can however create
					where you live here...<a href="{% url 'createHood' %}">here</a></h4>
			</div>
			{%endif%}


		</div>

	</div>
</div>
{%endblock%}